<footer class="page-footer blue-grey lighten-2 z-depth-1">
  <div class="container">
    <div class="row footer-row">
      <h5 class="white-text">Contact</h5>
      <p class="grey-text text-lighten-4">Email : ********@gmail.com</p>
      <ul>
        <li>
          <a class="grey-text text-lighten-4 right" href="https://www.instagram.com">Instagram</a>
        </li>
        <li>
          <a class=" grey-text text-lighten-4 left" href="https://www.facebook.com">Facebook</a>
        </li>
        <li>
          <a class="grey-text text-lighten-4 center" href="https://www.tiktok.com">TikTok</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright ">
    <div class="container footer-row">

      © 2022 Axoll, Inc.
    </div>
  </div>
</footer>
<script src="/app.js"></script>
</body>

</html>